[submodule "zsh/zsh-custom/mod/zsh-syntax-highlighting"]
	path = zsh/zsh-custom/mod/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-custom/mod/zsh-completions"]
	path = zsh/zsh-custom/mod/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-custom/mod/zsh-history-substring-search"]
	path = zsh/zsh-custom/mod/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/zsh-custom/mod/zsh-autosuggestions"]
	path = zsh/zsh-custom/mod/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-custom/mod/zaw"]
	path = zsh/zsh-custom/mod/zaw
	url = https://github.com/zsh-users/zaw.git
